body {
  margin: 0;
  padding: 0;
  background-color:#525c65;
  text-align: center;
}

.top {
	position: relative;
	margin: 0 auto;
	height: 80px;
  color: #EDEDED;
  font-weight: normal;
  display: flex;
	font-size: 1.5rem;
  margin-left: 50.05rem;
}

.search {
  display: flex;
  height: 30vh;
  align-items: center;
  justify-content: center;
}

.search input {
  padding: 0.5rem;
  color:#647D7E;
  margin-right: 0.5rem;
}
.btn {
  padding: 0.5rem;
  border-radius: 4px;
  font-weight: 600;
  font-size: 1rem;
  color: #333;
  background-color:#dedede;
  cursor: pointer;
}
.adjustForm {
  height: 13vh;
}
.search-list {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list {
  padding: 1rem;
  list-style: none;
  font-size: 1rem;
  text-align: left;
  width: 70%;
  background-color: #fff;
  margin: 1rem;
}
